

	<div class="homeBody">
		<div class="homeHeader">
			<h1>Thanks for visiting My Fitness Journal</h1>
		</div>	
		<h2 class= "logoutHeader", style="font-family: 'Poiret One', cursive, color: white; text-align: center;"> Have an active day! </h2>
		<a href="/login" class="button">Log Back In</a>
	</div>	



