<h1 class="loginH1"> My Fitness Journal </h1>

<div class="loginForm">
	<form method="POST" action="/login" style="align-items: center; text-align: center;">
		<div class= loginText>
			<label style="font-family: 'Poiret One', cursive; color: #22AED1 ;">User ID: </label><input name="username" style="size: 70px;" /><br>
			<label style="font-family: 'Poiret One', cursive; color: #22AED1 ;">Password: </label><input name="password" type="password" /><br>
			<input type="submit" />
		</div>
	</form>
</div>	