<% if current_user %>
<%=     link_to "Logout", :controller => 'sessions', :action => 'destroy' %>
<% end %>
	<div class="homeBody">
		<div class="homeHeader">
			<h1>Thanks for visiting My Fitness Journal</h1>
		</div>	
		<h2 class= "logoutHeader"> Have an active day! </h2>
		<a href="/login" class="button">Log Back In</a>
	</div>	
