<form method="POST" action="/profile">
		<label>Title</label><input name="title"></input>
		<label>Workout Description</label><textarea name="body"></textarea>
		<label>Workout Type</label><input name="type"></input>
		<label>Calories Burned</label><input name="calories"></input>
</form>