<form method="POST" action="/newpost">
		<label>Title</label><input name="title"></input>
		<label>Workout Description</label><input maxlength="150" name="body"></input>
		<label>Workout Type</label><input name="category"></input>
		<label>Calories Burned</label><input name="calories"></input>
		<input type="submit" value="Submit"></input>
</form>