<body class="w3-theme-l5">

<h1 style="font-family: 'Poiret One', cursive; font-weight: bold; font-size: 40px; color: white; text-align: center; padding-top: 60px;">My Fitness Journal</h1>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large" style="align-items: center; text-align: center; font-size: 20px; font-weight: bold; color: #4ABCD9">
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Profile">My Profile</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Stats">My Stats</a>
 </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white" style="background-color: #F7F7F4;">
        <div class="w3-container">
         <h4 class="w3-center" style="font-size: 20px; font-weight: bold;">My Profile</h4>
         <% if @current_user %>
         <p class="w3-center"><img src="<%= user.avatar.url %>" class="w3-circle" style="height:115px;width:106px; border-radius: 50%;" alt="Avatar"></p>
         <% end %> 
         <hr>
         <p> Sophie Bushman</p>
         <p> Brookyln, NY</p>
         <p> July, 9th 1998</p>
         <p> Activities: Running, Roller Skating, Lifting</p>
        </div>
      </div>
      <br>
      
      
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white" style="background-color: #F7F7F4">
            <div class="w3-container w3-padding">
              <p contenteditable="true" class="w3-border w3-padding">Today's Log: </p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div>
        </div>
      </div>
      
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin" style="background-color: #F7F7F4"><br>
        <span class="w3-right w3-opacity">Yesterday</span>
        <h4 class="PL">Past Log:</h4>
        <hr class="w3-clear">
        <p>Activity: Roller Skating.</p>
        <p>Calories: 525</p>
        <p>Remarks: Attended 2 hour practice, followed by 1 hour off skates strength training.</p>
          <div class="w3-row-padding" style="margin:0 -16px">
        </div>
      </div>
      
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin" style="background-color: #F7F7F4"><br>
        <span class="w3-right w3-opacity">10/16/2017</span>
        <h4 class="PL">Past Log:</h4>
        <hr class="w3-clear">
        <p>Activity: Running, Yoga. </p>
        <p>Calories: 350</p>
        <p>Remarks: 4 mile run lasting 40 minutes, Attended hour long yoga class.</p>
      </div>  

      <div class="w3-container w3-card-2 w3-white w3-round w3-margin" style="background-color: #F7F7F4"><br>
        <span class="w3-right w3-opacity">10/15/2017</span>
        <h4 class="PL">Past Log:</h4>
        <hr class="w3-clear">
        <p>Activity: Lifting.</p>
        <p>Calories: 180</p>
        <p>Lifting session lasting 2 hours</p>
      </div> 
      
    <!-- End Middle Column -->
    </div>
    
  
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>



</body>