<form method="POST" action="/profile" enctype="mulitpart/form-data">
	<label>Username</label><textarea name="username"></textarea>
	<label>First Name</label><textarea name="fname"></textarea>
	<label>Last Name</label><textarea name="lname"></textarea>
	<label>Age</label><textarea name="age"></textarea>
	<label>Password</label><textarea name="password"></textarea>
	<label>Avatar URL</label><input name="avatar" type="file"></input>
	<input type="submit"></input>
</form>